page-announce {
	ion-header {
	    background:  $purple;
	    color:  $white;
	    text-align:  center;
	    /*max-height: 30px;*/
	    padding: 9px 0;
	    button.button {
		    position:  absolute;
		    right: 4%;
		    top: 52%;
		    transform: translateY(-50%);
		    background:  transparent;
		    color:  $white;
		    font-size: 18px;
		    line-height: 1;
		}
		img {
		    max-height: 30px;
		}
	}
	.announce_tab{
		.tabbar{
			&.show-tabbar {
			    border-bottom: none !important;
			    max-width: 92%;
			    background: $white;
			    margin: auto;
			    left: 0;
			    right: 0;
			    border: none;
			    a {
				    border-bottom: 1px solid $grey;
				    color: $black;
				    font-weight: normal;
				    min-height: auto;
				    padding: 19px 0 4px;
				    &[aria-selected=true] {
					    border-color: $black;
					    font-weight: bold;
					    font-family: 'proxima_nova_rgbold';
					}
				}
			}
		}
		.tab-button{
			min-height: auto !important;
			&.has-title-only {
				.tab-button-text {
				    font-size: 10px;
				    line-height: 1.1;
				    text-transform: uppercase;
				}
			}
		}
	}
	
}
