<ion-header>
  <img src="assets/imgs/matc_logo.png">
  <button class="button" (click)="goToaccount()"><ion-icon name="ios-settings"></ion-icon></button>
</ion-header>


<ion-content>

	<ion-tabs class="announce_tab" tabsPlacement="top">
	  	<ion-tab [root]="announce_tab1" tabTitle="Announcements"></ion-tab>
	  	<ion-tab [root]="announce_tab3" tabTitle="Events"></ion-tab>
	  	<ion-tab [root]="announce_tab2" tabTitle="ChangeLog"></ion-tab>
	</ion-tabs>


</ion-content>
