<!--
  Generated template for the ProcessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>process</ion-title>
  </ion-navbar>

</ion-header>
 -->

<ion-content padding>

<div class="process">
	<h6>Matchbank App</h6>
	<h1>We are processing your application</h1>
<div class="main_progree_bar">
	<h5>Elapsed time (17:35)</h5>
	<div class="progress-bar">
	  <span [style.width]="workoutProgress">{{workoutProgress}}</span>
    </div>
    <strong>1hr</strong>
</div>
	<p>It will take like <strong>one hour (1)</strong> to verify your identity and to generate your financial profile if you are a first time user. If additional verification is required, you will be notified.</p>

	<button class="process_btn" (click)="goTofail()" ion-button>Processing...</button>

</div>

</ion-content>
