page-process {
	ion-content {
	    &:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $navy_blue;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.process {
	    color: $white;
	    width: 100%;
	    max-width: 93%;
	    margin: 0 auto;
    	h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		    text-align: center;
		    font-family: $font1;
		}
		h2 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 22px;
		    font-family: $font1;
		}
		h6 {
		    text-align: center;
		    text-transform: uppercase;
		    font-weight: 600;
		    font-family: $font1;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		}
		.main_progree_bar{
			    margin: 45px auto 30px;
			    h5 {
				    font-size: 16px;
				    font-weight: 600;
				    color: $yellow;
				}
				strong {
				    color: $yellow;
				    text-transform: uppercase;
				    font-family: $font1;
				}
			.progress-bar {
			    background-color: $light_white;
			    height: 3px;
			    width: 90%;
			    margin-top: 10px;
			    margin-bottom: 10px;
			    display: inline-block;
    			vertical-align: middle;
			    span {
			        text-align: center;
			        display: inline-block;
			        height: 100%;
			        color: transparent;
			        background-color: $sky_blue;
			        transition: width .4s ease-in-out;    
			    }
			}
		}
		  
		button{
			&.process_btn {
			    width: 100%;
			    height: 50px;
			    background: $light_white;
			    color: $grey;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 0;
			    padding: 0;	
			    font-family: $font1;
			}
		}
    }
}	



