page-announce-article {
	.scroll-content {
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	.change_log_article_img {
	    img{
	    	width: 100%;
	    }
	}
	.back_btn {
	    position: absolute;
	    font-size: 30px;
	    color: $white;
	    left: 15px;
	    top: 15px;
	}
	.change_log_article_content {
	    padding: 0 16px;
	    span {
		    text-transform: uppercase;
    		&.tips {
			    color: $navy_blue;
			    font-weight: 600;
			}
			&.date {
			    font-weight: 400 !important;
			    position: relative;
    			margin-left: 10px;
    			&:before {
				    content: ".";
				    font-size: 40px;
				    position: absolute;
				    bottom: -5px;
				    left: -10px;
				    right: 0;
				}
			}
		}
		h1 {
		    margin: 10px auto;
		    font-size: 16px;
		    text-transform: capitalize;
		    font-weight: 600;
		    font-family: $font1;
		}
		p {
		    line-height: 26px;
		    color: $dark_grey;
		}
		blockquote {
		  margin-bottom: 3em;
			  &.ludwig {
			  	position: relative;
				padding-left: 15px;
				border-left: 0.2em solid $dark_green;
				font-size: 14px;
				line-height: 1.5em;
				font-weight: 100;
				margin: 0;
				margin: 30px auto;
				
				p{
					margin: 10px auto;
					color: $dark_green !important;
				}
				strong {
				    font-weight: 400;
				    font-size: 14px;
				    color: $dark_grey;
				}
			  &:before {
				  content: '\201C';
				  color: $dark_green;
				  position: absolute;
				top: -15px;
				font-size: 40px;
				left: -0.2em;
			   }
			}
		}
	}
}



