<!--
  Generated template for the AnnounceArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>announce_article</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

<div class="change_log_article">

	<div class="change_log_article_img">
		<img src="assets/imgs/annouce.png">
	</div>
	<div class="back_btn">
		  <ion-icon (click)="goToback()" name="ios-arrow-back"></ion-icon>
	</div>
	<div class="change_log_article_content">
		<span class="tips">Tips</span>
		<span class="date">22 julai 2018</span>
		<h1>The Debt Service Ratio Explained</h1>
		<p>Hana Tajima, designer, artist and incredibly beautiful person, formerly of Style Covered and Maysaa, has scored a major coup in the form of a Uniqlo collaboration. The collection will be Uniqlo’s first modelled on ‘modest wear’ principles, following Hana’s own unique take on modest style. There’ll be hijabs, relaxed jeans, blouses and maxi dresses in the collection, as well as Airism headscarf inners and headbands.</p>
		<blockquote class="ludwig">
		    <p>We wanted to create a collection for women who appreciate modesty as a lifestyle as well as a broader international audience. It is relaxed, and can be mixed to enhance style.</p>
		    <strong>Fashion Designer, Hana Tajima.</strong>
		</blockquote>
		<p>The range will debut in all Uniqlo Malaysia stores, and select stores in Singapore, Indonesia and Thailand, on July 3. Plus, did you spot Yuna in the campaign images? Too cool. Get a closer look at your nearest stores.</p>
		<p>Summarized by Sofia Haron</p>
	</div>

</div>

</ion-content>
