<ion-content>
	<h1 class="title">loans</h1>

	<div class="loans_list">
		<div class="loans_item">
			<div class="loans_item_head">
				<div class="row">
					<div class="col">
						<h3>Housing Loan</h3>
					</div>
					<div class="col">
						<span>No.of loans <strong>2</strong></span>
					</div>
				</div>
			</div>
			<table>
				<tr>
					<th>Date</th>
					<th>Cap</th>
					<th>Lim</th>
					<th>o/s</th>
					<th>ins</th>
					<th>arr</th>
				</tr>
				<tr>
					<td>23/03/27</td>
					<td>own</td>
					<td>850,000.00</td>
					<td>698,478.25</td>
					<td>3,290.00</td>
					<td>3</td>
				</tr>
				<tr>
					<td>23/03/27</td>
					<td>own</td>
					<td>850,000.00</td>
					<td>698,478.25</td>
					<td>3,290.00</td>
					<td>3</td>
				</tr>
			</table>
		</div>
		<div class="loans_item">
			<div class="loans_item_head">
				<div class="row">
					<div class="col">
						<h3>Car Loan</h3>
					</div>
				</div>
			</div>
			<table>
				<tr>
					<th>Date</th>
					<th>Cap</th>
					<th>Lim</th>
					<th>o/s</th>
					<th>ins</th>
					<th>arr</th>
				</tr>
				<tr>
					<td>23/03/27</td>
					<td>own</td>
					<td>850,000.00</td>
					<td>698,478.25</td>
					<td>3,290.00</td>
					<td>3</td>
				</tr>
				<tr>
					<td>23/03/27</td>
					<td>own</td>
					<td>850,000.00</td>
					<td>698,478.25</td>
					<td>3,290.00</td>
					<td>3</td>
				</tr>
			</table>
		</div>
		<div class="loans_item">
			<div class="loans_item_head">
				<div class="row">
					<div class="col">
						<h3>Ptptn Loan</h3>
					</div>
				</div>
			</div>
			<table>
				<tr>
					<th>Date</th>
					<th>Cap</th>
					<th>Lim</th>
					<th>o/s</th>
					<th>ins</th>
					<th>arr</th>
				</tr>
				<tr>
					<td>23/03/27</td>
					<td>own</td>
					<td>850,000.00</td>
					<td>698,478.25</td>
					<td>3,290.00</td>
					<td>3</td>
				</tr>
				<tr>
					<td>23/03/27</td>
					<td>own</td>
					<td>850,000.00</td>
					<td>698,478.25</td>
					<td>3,290.00</td>
					<td>3</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="loans_note">
		<h3>Note</h3>
		<ul>
			<li>
				<span>Date</span>
				<p>Approval date / R&R</p>
			</li>
			<li>
				<span>Cap</span>
				<p>Capacity</p>
			</li>
			<li>
				<span>Lim</span>
				<p>Total Credit Limit</p>
			</li>
			<li>
				<span>o/s</span>
				<p>Total outstanding balance</p>
			</li>
			<li>
				<span>Ins</span>
				<p>Installment amount</p>
			</li>
			<li>
				<span>Arr</span>
				<p>Installment in arrears for last <b>12</b> months</p>
			</li>
		</ul>
	</div>
</ion-content>
