page-loans {
	h1.title {
	    margin: 10px 0;
	    text-align:  center;
	    color:  #1c4577;
	    font-family: $font1;
	    text-transform:  uppercase;
	    font-size:  16px;
	}
	.scroll-content {
	    padding: 0 !important;
	    overflow: hidden;
	}
}

.loans_list{
	height: 100%;
    overflow: auto;
	.loans_item{
		    margin-bottom: 30px;
		    &:last-child {
				margin-bottom: 226px;
			}
		.loans_item_head{
			background: #d5dce6;
			padding: 0 10px;
			h3 {
			    margin: 0;
			    font-size: 12px;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-family: $font1;
			}
			span {
			    float: right;
			}
		}
		
		table{
			    width: 100%;
			tbody{
				tr{
					&:first-child {
					    border-bottom: 1px solid #ccc;
					}
					th {
					    background: #eaf0f8;
					    padding: 6px 10px;
					    font-size: 10px;
					    text-transform: uppercase;
					    text-align: center;
					    color: $navy_blue;
					    font-family: $font1;
					}
					td {
					    border-bottom: 1px solid #ccc;
					    padding: 6px 5px;
					    font-size: 11px;
					    text-align: center;
					}
				}
			}
		}
	}
}

.loans_note {
    padding: 9px 10px;
    border-top:  1px solid #ccc;
    position:  absolute;
    width:  100%;
    bottom:  0;
    background: #fff;
    h3 {
	    margin: 0 0 15px;
	    color: #1c4577;
	    font-family: $font1;
	    text-transform: uppercase;
	    font-size: 14px;
	}
	ul {
	    padding:  0;
	    margin:  0;
	    list-style:  none;
	    li{
	    	font-size: 13px;
    		margin-bottom: 2px;
	    	span {
			    display:  inline-block;
			    text-transform:  uppercase;
			    font-family: $font1;
			    min-width: 50px;
			    vertical-align: top;
			}
			p {
			    margin:  0;
			    display:  inline-block;
			    vertical-align: top;
			    font-size: 14px;
			}
			&:last-child {
			    margin:  0;
			}
	    } 
	}
}

