<ion-content>
	<ion-grid class="progress_result">
		<ion-row>
		    <ion-col col-7>
		         <div class="progress_bar_content">
		         	<h1>Your DSR</h1>
			     	<p>Debt Service Ratio based on your monthly income and commitments outline by your credit report.</p>
			     </div>
			</ion-col>
		    <ion-col col-5>
		    	<div class="progress_bar">
		           <div class="progress-bar">
				   	  <round-progress [current]="current" [max]="max" [stroke]="stroke" [radius]="radius" [semicircle]="semicircle" [rounded]="rounded"
					    [responsive]="responsive" [clockwise]="clockwise" [color]="gradient ? 'url(#gradient)' : color" [background]="background"
					    [duration]="duration" [animation]="animation" [animationDelay]="animationDelay"></round-progress>
					    <span>{{current}}%</span>
					</div> 
		        </div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid class="loan_amount">
		<ion-row>
		    <ion-col col-7 class="dark_purple_bg">
		         <div class="progress_bar_content">
		         	<span>Loan Amount</span>
		         	<h1>Rm1,123,567.00</h1>
			     </div>
			</ion-col>
		    <ion-col col-5>
		    	<div class="progress_bar">
		            <span>Loan Tenure</span>
		         	<h1>30<span>Yrs</span></h1>
		        </div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<div class="match_result_bottom">
		<button class="your_bank"   ion-button>Your Bank Matches</button>
		<p>Below are the banks that may ot may not approve your application based on your DSR.</p>


	<ion-grid class="bank_logo">
		<ion-row>
		    <ion-col col-6>
		         <div class="bank_logo_section">
		    		<div class="bank_logo_img">
			    		<img src="assets/imgs/mybank.png">
			    	</div>
			    	<div class="bank_logo_content">
			            <span class="bank_name">May Bank</span>
			            <button class="pass"   ion-button>Pass</button>
			        </div>
		        </div>
			</ion-col>
		    <ion-col col-6>
		    	<div class="bank_logo_section">
		    		<div class="bank_logo_img">
			    		<img src="assets/imgs/HSBC.png">
			    	</div>
			    	<div class="bank_logo_content">
			            <span class="bank_name">Hsbc</span>
			            <button class="fail"   ion-button>Fail</button>
			        </div>
		        </div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid class="bank_logo">
		<ion-row>
		    <ion-col col-6>
		         <div class="bank_logo_section">
		    		<div class="bank_logo_img">
			    		<img src="assets/imgs/rhb.png">
			    	</div>
			    	<div class="bank_logo_content">
			            <span class="bank_name">RHB</span>
			            <button class="pass"   ion-button>Pass</button>
			        </div>
		        </div>
			</ion-col>
		    <ion-col col-6>
		    	<div class="bank_logo_section">
		    		<div class="bank_logo_img">
			    		<img src="assets/imgs/MBSB.png">
			    	</div>
			    	<div class="bank_logo_content">
			            <span class="bank_name">MBSB</span>
			            <button class="pass"   ion-button>Pass</button>
			        </div>
		        </div>
			</ion-col>
		</ion-row>
	</ion-grid>

	<button class="save_result"   ion-button>Save Result</button>

	</div>
</ion-content>
