page-results {
		.scroll-content {
		    padding: 15px 0 0 0 !important;
		}
	.progress_result{
		background: $purple;
	    color: $white;
	    padding: 30px 16px;
	    p {
		    margin: 0;
		    font-size: 14px;
		}
	    .progress_bar_content {
	    	h1 {
			    margin: 10px auto;
			    font-size: 20px;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-family: $font1;
			}
	    }
	    .progress-bar {
	    	position: relative;
	    	round-progress {
			    position: relative;
		    	&:before {
				    content: "";
				    position: absolute;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    top: 0;
				    background: #d5dce6;
				    border-radius: 125px;
				    margin: 1px;
				}
			}
			span {
			    font-size: 36px;
			    position: absolute;
			    top: 0;
			    bottom: 0;
			    left: 0;
			    right: 0;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    font-weight: 600;
			    color: #000;
			}
	    }
	}
	.loan_amount.grid {
	    background: #5b3095;
	    color: $white;
	    text-align: center;
	    padding: 0;
	    h1 {
		    margin: 0;
		    text-transform: uppercase;
		    font-size: 24px;
		}
		span {
		    font-size: 12px;
		    text-transform: uppercase;
		    font-weight: 600;
		    opacity: .7;
		}
		.dark_purple_bg {
		    background: $dark_purple;
		}
		ion-col {
		    padding: 15px 0;
		}
	}
	.match_result_bottom{
		padding: 16px;
		button{
			&.your_bank {
			    background: $sky_blue;
			    height: auto;
			    padding: 10px;
			    font-size: 12px;
			    text-transform: uppercase;
			    font-weight: 600;
			    margin: 15px auto 5px;
			    border-radius: 10px;
			    font-family: $font1;
			}
		}
		p {
		    margin: 0;
		    font-size: 14px;
		    line-height: 18px;
		    color: $dark_grey;
		}
		.bank_logo{
			padding: 15px 0;
			.col {
			    padding: 0;
			}
			.bank_logo_section {
				.bank_logo_img {
				    width: 40px;
				    display: inline-block;
				    vertical-align: middle;
				}
				.bank_logo_content {
				    display: inline-block;
				    vertical-align: middle;
				    margin: 0 5px;
				    button{
					    display: block;
					    height: auto;
					    padding: 4px 24px;
					    font-size: 12px;
					    text-transform: uppercase;
					    font-weight: 600;
					    margin: 0;
					    border-radius: 10px;
					    font-family: $font2;
					     /*span{
					     	position: relative;
					     	top: 2px;
					     }*/
					    &.pass {
						    background: $light_green;
						}
						&.fail {
						    background: $red;
						}
					}
					span {
						&.bank_name{
							font-size: 16px;
						    text-transform: uppercase;
						    font-weight: 600;
						    color: $dark_grey;
						    font-family: $font1;
						}
					}
				}
			}
		}
		button{
			&.save_result {
			    width: 100%;
			    max-width: 150px;
			   	background: $yellow;
			   	display: flex;
			    height: auto;
			    padding: 10px;
			    font-size: 14px;
			    text-transform: uppercase;
			    font-weight: 600;
			    margin: 15px auto 5px;
			    border-radius: unset;
			    font-family: $font1;
			    color: $navy_blue;
			}
		}
	}
}


 
