<ion-header>
  <img src="assets/imgs/matc_logo.png">
  <button class="button" (click)="goToaccount()"><ion-icon name="ios-settings"></ion-icon></button>
</ion-header>


<ion-content>

	<ion-tabs class="report_tab" tabsPlacement="top">
	  	<ion-tab [root]="report_tab1" tabTitle="Credit Score"></ion-tab>
	  	<ion-tab [root]="report_tab2" tabTitle="Loans"></ion-tab>
	  	<ion-tab [root]="report_tab3" tabTitle="Credit Card"></ion-tab>
	    <ion-tab [root]="report_tab4" tabTitle="Others"></ion-tab>
	</ion-tabs>


</ion-content>
