page-my-report {
	
	ion-header {
	    background:  #6b36af;
	    color:  #fff;
	    text-align:  center;
	    /*max-height: 30px;*/
	    padding: 9px 0;
	    button.button {
		    position:  absolute;
		    right: 4%;
		    top: 52%;
		    transform: translateY(-50%);
		    background:  transparent;
		    color:  #fff;
		    font-size: 18px;
		    line-height: 1;
		}
		img {
		    max-height: 30px;
		}
	}
}

.report_tab{
	.tabbar.show-tabbar {
	    max-width: 92%;
	    background: #fff;
	    margin: auto;
	    left: 0;
	    right: 0;
	    border: none;
	    a {
		    border-bottom: 1px solid #d9d9d9;
		    color: #000;
		    font-weight: normal;
		    min-height: 51px !important;
		    padding: 19px 0 4px;
		    &[aria-selected=true] {
			    border-color:  #000;
			    font-weight:  bold;
			    font-family: $font1;
			}
			span.tab-button-text {
			    font-size: 10px;
			    text-transform:  uppercase;
			    margin:  0;
			}
		}
	}
} 

@media (max-width: 320px){
	.report_tab .tabbar.show-tabbar a span.tab-button-text {
	    font-size: 9px;
	}
}