page-login {
	ion-content {
	    color: $white;
	    background-image: url(./../assets/imgs/login_bg.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	}
	/*.scroll-content {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}*/
	.login_div {
	    text-align: center;
	    color: $white;
	    width: 100%;
	    max-width: 93%;
	    margin: 60px auto 0;
	    h6 {
		    text-transform: uppercase;
		    font-weight: 600;
		    font-family: $font1;

		}
		img {
		    margin: 6vw auto 7vw;
		    display: inherit;
		}
		span{
			&.forget_psw {
			    color: $yellow;
			    font-size: 16px;
			    font-weight: 600;
			    margin: 5vw 0;
   				display: inline-block;
   				font-family: $font1;
   			}
			&.or {
			    font-weight: 600;
			    font-size: 16px;
			    font-style: italic;
			    margin: 3vw auto;
			    display: inline-block;
			    font-family: $font1;
			}
		}
		ion-col {
			    padding: 0;
			}
		button {
			    width: 100%;
			    text-transform: uppercase;
			    font-size: 16px;
			    font-weight: 600;
			    color: $navy_blue;
			    font-family: $font1;
			    &.login_btn {
				    background: $yellow;
				    min-height: 45px;
				    opacity: 1;
				    &:disabled {
					    background: $light_white;
					    color: $grey;
					}
				}
				&.create_account {
				    background: $light_white;
				    min-height: 45px;
				}
			}
	    ion-icon {
		    color: $grey;
		    font-size: 22px;
		}
		ion-item{
			&.item-input {
			    padding-left: 0;
			    background: transparent;
			    margin-top: 7vw;
			}
			&:first-child {
				.item-inner {
				    margin-top: 0;
				}
			}
		}

		
		[clearInput] .text-input {
		    padding-right: 0;
		    padding-left: 23px;
		    font-weight: 600;
		    color: $grey;
		    margin: 0;
		}
		.item-inner {
		    border: none !important;
		    background: $white;
		}
		.item-block {
		    min-height: 45px;
		}
		ion-label {
		    width: 46px;
		    margin: 0 auto !important;
		    text-align: center;
		    /*border-right: 1px solid $grey_border;*/
		    height: 50px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
	}
}











/*ion-input.ng-invalid.ng-touched {
    position: relative;
    height: 50px;
    line-height: 50px;
}
ion-input.ng-invalid.ng-touched:before {
    content: "";
    position: absolute;
    border: 2px solid $yellow;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


ion-input.ng-invalid.ng-touched {
    position: unset;
    height: 50px;
    line-height: 50px;
    left: 46px;
}
ion-label + ion-input {
    border-left: 1px solid $grey;
    height: 50px;
    line-height: 50px;
}
ion-label + ion-input.ng-invalid.ng-touched {
    border-left: 2px solid $yellow;
    margin-left: 0;
    z-index: 999;
}*/
