<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

	<div class="login_div">
		<div class="login_header">
			<h6>Matchbank app</h6>
			<img src="assets/imgs/mbank_logo.png">
		</div>
		<ion-list>
			<form novalidate (ngSubmit)="goToreport(user)" [formGroup]="user">
				<ion-item>        
			        <ion-label><ion-icon name="ios-mail"></ion-icon></ion-label>
			        <ion-input clearInput formControlName="email" type="text" placeholder="Email (me@example.com)"></ion-input>
				</ion-item>

				<div no-lines *ngIf="( user.get('email').hasError('required') || user.get('email').hasError('pattern') ) && user.get('email').touched">

					<div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
						Email is required
					</div>

					<div class="error" *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
						Please enter valid email
					</div>

				</div>

				<ion-item>        
			        <ion-label><ion-icon name="ios-key"></ion-icon></ion-label>
			        <ion-input clearInput type="password" formControlName="password" placeholder="Password (min. 6 characters)"></ion-input>
				</ion-item>

				<div no-lines *ngIf="( user.get('password').hasError('minlength') || user.get('password').hasError('required') ) && user.get('password').touched">

					<div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
						Password is required
					</div>
					<div class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
						Minimum of 6 characters
					</div>
				</div>

				
				    <ion-col col-12>
				        <span class="forget_psw">Forget Password?</span>
				    </ion-col>
				    <ion-col col-12>
				        <button class="login_btn" [disabled]="user.invalid" ion-button>Log in</button>
				    </ion-col>
				</form>    
				     <ion-col col-12>
				        <span class="or">or</span>
				    </ion-col>
				    <ion-col col-12>
				        <button class="create_account" (click)="goToregister()"  ion-button>Create Account</button>	
				    </ion-col>
			 	
		</ion-list>
	</div>

</ion-content>
