<!--
  Generated template for the SuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>success</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

<div class="success">
	<div class="success_centre">
		<ion-icon name="md-thumbs-up"></ion-icon>
		<h1>Success!</h1>
	</div>
	<p>Your account os successfully created. You will now be asked to verify your identity once verified you will have instant access to your financial profile.</p>

		<button class="success_btn" (click)="goToterms()" ion-button>Verify your identity</button>
</div>

</ion-content>
