page-success {
	ion-content {
	    
		&:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $purple;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.scroll-content {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.success {
	    position: relative;
	    color: $white;
	    width: 100%;
	    max-width: 93%;
	    margin: 0 auto;
    	 h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		    font-family: $font1;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		}
		.success_centre {
			text-align: center;
			margin-bottom: 30px;
			ion-icon {
			    font-size: 80px;
			    margin-bottom: 15px;
			}
		}
		button {
			&.success_btn{
				width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 0;
			    padding: 0;	
			    font-family: $font1;
			}
		}
    }
}
