<ion-tabs class="cutom_tab">
  <ion-tab [root]="tab1Root" tabTitle="My Report" tabIcon="report"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Match" tabIcon="match"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Announce" tabIcon="announce"></ion-tab>
</ion-tabs>
