<!--
  Generated template for the FailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>fail</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>


<div class="fail">
	<h6>Matchbank App</h6>
	<ion-icon name="md-alert"></ion-icon>
	<h1>Uh-oh, we're sorry.</h1>
	<p>It looks like additional verification os required for your account. A representative from RAMCI will be in touch with you</p><br/>
	<p>If you have further enquiries, please<br/> call <strong>03 7874 5627</strong></p>
</div>

</ion-content>
