page-fail {
	ion-content {
	    &:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $dark_blue;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.fail {
	    position: relative;
	    max-width: 93%;
    	margin: 0 auto 30px;
    	color: $white;
    	h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		    text-align: center;
		    font-family: $font1;
		}
		h2 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 22px;
		    font-family: $font1;
		}
		h6 {
		    text-align: center;
		    text-transform: uppercase;
		    font-weight: 600;
		    font-family: $font1;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		}
		ion-icon.icon {
		    font-size: 80px;
		    margin: 30px auto 15px;
		    display: flex;
		    justify-content: center;
		}
	}
}
