<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>upload</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

	<div class="main_upload">
	  <h6>Matchbank App</h6>

	    <div>
	    <ion-segment [(ngModel)]="upload">
	      <ion-segment-button value="Step1">
	        Step1
	      </ion-segment-button>
	      <ion-segment-button value="Step2">
	        Step2
	      </ion-segment-button>
	       <ion-segment-button value="Step3">
	        Step3
	      </ion-segment-button>
	    </ion-segment>
	  </div>

	  <div [ngSwitch]="upload">
	    <ion-list *ngSwitchCase="'Step1'">
	    	<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
	      <ion-item>
	        <h1>New I/C number</h1>
	        <p>-Your lCr’Mykad number and Images will be used solely for lhIS Malchbank App and will not be used for other purposes</p>
	        <ion-item>
			    <ion-input clearInput type="number" formControlName="mob" placeholder="e.g 811232149563"></ion-input>
			</ion-item> 
			<div no-lines *ngIf="( user.get('mob').hasError('required') || user.get('mob').hasError('minlength') || user.get('mob').hasError('maxlength'))&& user.get('mob').touched">

				<div class="error" *ngIf="user.get('mob').hasError('required') && user.get('mob').touched">
					Number is required
				</div>
				<div class="error" *ngIf="user.get('mob').hasError('minlength') && user.get('mob').touched">
					Please enter valid number
				</div>

				<div class="error" *ngIf="user.get('mob').hasError('maxlength') && user.get('mob').touched">
					Please enter valid number
				</div>

			</div>

			<label class="without_dash">Enter  number without dash "-"</label>   
			<h2>Upload identity card</h2>   
			<p>A clear photo using your phone will do. Please ensure that only <strong>.jpg or .png</strong> images are used.</p>

			<!-- <ion-item class="profile_img_view">
                <ion-avatar (click)="presentActionSheet()">
                    <img class="profileImage" [src]="user.data.image ? url+user.data.image : 'assets/img/profile.png' ">
                </ion-avatar>
            </ion-item> -->

		  </ion-item>
			  <ion-grid class="upload_btn">
			  <ion-row>
			    <ion-col col-6>
			      <ion-item>
				    <div class="image-upload light_white" (click)="presentActionSheet(true)">
				    	<span class="lable_white" *ngIf="MykadFrontImage"></span>
					    <label for="file-input">
					        <span><strong>Upload</strong>Mykad Front</span>
					    </label>
					    <!-- <input id="file-input" type="file"/> -->
					</div>
					<div class="image_upload_mykad" *ngIf="MykadFrontImage">
						<img [src]="MykadFrontImage"/>
					</div>
				</ion-item>   
			    </ion-col>
			    <ion-col col-6>
			      <ion-item>
				    <div class="image-upload light_white" (click)="presentActionSheet(false)">
				    	<span class="lable_white" *ngIf="MykadBackImage"></span>
					    <label for="file-input">
					        <span><strong>Upload</strong>Mykad Back</span>
					    </label>
					    <!-- <input id="file-input" type="file"/> -->
					</div>
					<div class="image_upload_mykad" *ngIf="MykadBackImage">
						<img  [src]="MykadBackImage"/>
					</div>
				</ion-item>   
			    </ion-col>
			  </ion-row>
			</ion-grid>
		</form>
			<div class="step_button">
				<ion-segment [(ngModel)]="upload" [disabled]="user.invalid">
					<ion-segment-button value="Step2">
			       <button > <span>I Agree</span></button>
			      </ion-segment-button>
			  </ion-segment>
			</div>
	    </ion-list>

	    <ion-list *ngSwitchCase="'Step2'">
	      <ion-item>
	        <h1>Verify your identity</h1>
	        <p>Your answer to these questions are checked against the actual credit record to prevant unauthorised access to your Financial Profile</p>

	        <div class="questions">
	        	<h4>Questions (6/6):</h4>
	        	<h2>Have you ever received a score for your credit before this?</h2>   
	        	<ion-grid class="radio_btn">
	        		<h4>Answer:</h4>
				  <ion-row>
				    <ion-col col-6>
				      <ion-item>
					     <label class = "item item-radio">
						      <input type = "radio" name = "group1" />
						        <span>yes</span>
						</label>
					</ion-item>   
				    </ion-col>
				    <ion-col col-6>
				      <ion-item>
					    <label class = "item item-radio">
					      <input type = "radio" name = "group1"/>
					        <span>no</span>
					</label>
					</ion-item>   
				    </ion-col>
				  </ion-row>
				</ion-grid>
	        </div>
	      </ion-item>
		      <div class="leave_drop_down" [ngClass]="{'active':active}" >
			    <select (change)="onclickButton(selected)" [(ngModel)]="selected" >
			    	<option value="SELECT ANSWER" selected disabled>SELECT ANSWER</option>
			        <option value="Casual Leave">Casual Leave</option>
			        <option value="Comp Off">Comp Off</option>
			        <option value="Earned Leave">Earned Leave</option>
			        <option value="Sick Leave">Sick Leave</option>
			        <option value="Casual Leave">Casual Leave</option>
			        <option value="Comp Off">Comp Off</option>
			        <option value="Comp Off">Earned Leave</option>
			        <option value="Sick Leave">Sick Leave</option>
			        <option value="Casual Leave">Casual Leave</option>
			        <option value="Comp Off">Comp Off</option>
			        <option value="Earned Leave">Earned Leave</option>
			        <option value="Sick Leave">Sick Leave</option>
			    </select>
			   </div> 
		<div class="step_button">
			<ion-segment [(ngModel)]="upload">
				<ion-segment-button value="Step3">
		       <button > <span>Next</span></button>
		      </ion-segment-button>
		  </ion-segment>
		</div>
	    </ion-list>
	     <ion-list *ngSwitchCase="'Step3'">
	      <ion-item class="step3_screen">
	        <h1>Why do you need a financial profile?</h1>
	        <div class="questions">
	        	<ion-grid class="radio_btn">
	        		<h4>Answer:</h4>
				  <ion-row>
				    <ion-col col-12>
				      <ion-item>
					     <label class = "item item-radio">
						      <input type = "radio" name = "group1" />
						        <span>I want to know if i'm eliible for a loan</span>
						</label>
					</ion-item>   
				    </ion-col>
				    <ion-col col-12>
				      <ion-item>
					    <label class = "item item-radio">
					      <input type = "radio" name = "group1"/>
					        <span>This is different answer</span>
					</label>
					</ion-item>   
				    </ion-col>
				    <ion-col col-12>
				      <ion-item>
					    <label class = "item item-radio">
					      <input type = "radio" name = "group1" />
					        <span>I had late payments and wanted to know if they are cleared</span>
					</label>
					</ion-item>   
				    </ion-col>
				    <ion-col col-12>
				      <ion-item>
					    <label class = "item item-radio">
					      <input type = "radio" name = "group1" />
					        <span>I have a PTPTN loan and want to check</span>
					</label>
					</ion-item>   
				    </ion-col>
				  </ion-row>
				</ion-grid>
	        </div>
	      </ion-item>
	      <button class="upload_button"  (click)="goToprocess()" ion-button>Done & submit<ion-icon name="ios-arrow-forward-outline"></ion-icon></button>
	    </ion-list>
	  </div>

	  

		

	  

	</div>

</ion-content>
