page-upload {
	ion-content {
	    &:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $dark_blue;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.main_upload {
	    position: relative;
	    color: $white;
	    width: 100%;
	    max-width: 93%;
	    margin: 0 auto;
    	 .upload_btn {
    	 	.image-upload.light_white {
				+ {
					.image_upload_mykad {
						&:before {
							content: "";
							position: absolute;
							top: -43px;
							left: 0;
							right: 0;
							bottom: 0;
							background: $sky_blue;
							height: 43px;
						}
					}
				}
			}
			.image_upload_mykad {
			    text-align: center;
			    position: relative;
			}
			.image-upload{
				&.light_white {
					label {
					    position: relative;
					    z-index: 1;
					    span {
					    	strong {
							    position: relative;
							    z-index: 1;
							}
					    }
					}
				}
			}
			.image-upload.light_white {
				>span.lable_white {
					+ {
						label {
							color: $white;
						}
					}
				}
			}
    	 	ion-item {
    	 		ion-label{
    	 			&.label {
					    margin-right: 5px;
					}
    	 		}
    	 	}
    	 	 ion-col{
    	 	 	&:last-child {
    	 	 		ion-label{
    	 	 			&.label {
						    margin-right: 0;
						}
    	 	 		}
    	 	 	}
    	 	 }
    	 }
    	 h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		    font-family: $font1;
		}
		h2 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 22px;
		    font-family: $font1;
		}
		h6 {
		    text-align: center;
		    text-transform: uppercase;
		    font-weight: 600;
		    font-family: $font1;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		    strong{
		    	font-family: $font1;
		    }
		}
		.leave_drop_down{
			position: relative;
			margin: 7px 0 15px;	
			text-align-last: center;
			&:before {
			    content: "\f3d0";
			    position: absolute;
			    right: 8px;
			    top: 0;
			    font-family: "Ionicons";
			    bottom: 0;
			    font-size: 20px;
			    font-weight: 600;
			    display: flex;
			    align-items: center;
			    color: $grey;
			}
			&.active {
				&:before {
				    color: $white;
				}
			}
			&.active {
		    	select{
		    		background: $sky_blue;
			    	color: $white;
		    	}
			}
			select {
				width: 100%;
			    background: $light_white;
			    border: none;
			    border-radius: inherit;
			    padding: 5px;
			    text-transform: uppercase;
			    text-align: center;
			    font-size: 14px;
			    color: $grey;
			    font-family: $font1;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			}
		}
		
		label{
			&.without_dash {
			    display: flex;
			    justify-content: center;
			    font-size: 14px;
			    text-transform: uppercase;
			    padding-bottom: 15px;
			    color: $yellow;
			}
		}
		.list-ios {
		    margin: 0;
		}
		ion-item{
			.item-input {
			    background: $white;
			    text-align: center;
			    min-height: 50px;
			    margin-bottom: 5px;
			}
			 .item-inner {
			    border-bottom: none !important;
			    padding: 0 !important;
			}
			[clearInput] .text-input {
			    margin: 0;
			    font-weight: 600;
	    		color: $grey;
	    		text-align: center;
			}
		}
		.segment-button {
		    border: none;
		    text-transform: uppercase;
		    position: relative;
		    color: $sky_blue;
		    font-family: $font2;
		    opacity: 1;
		    &.segment-activated {
		    	background: transparent;
		    	color: $yellow;
		    	font-weight: 500;
		    }
		    &:first-child{
		    	&:before {
				    content: "";
				}
		    }
		    &:before {
			    content: "|";
			    position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    color: $sky_blue;
			}
			&:hover {
			    background: transparent !important;
			}
		}
		ion-item {
		    background: transparent;
		    padding: 0;
    		color: $white;
    		border-top: none !important;
    		border-bottom: none !important;
    		ion-label{
    			&.label {
				    text-overflow: unset;
				    overflow: unset;
				    white-space: unset;
				    margin: 11px 0 0;
				    p {
					    color: $white;
					}
				}
    		}
    		.radio_btn {
    			ion-label {
				    margin: 10px 5px 0 0;
				}
				ion-col{
					&:last-child {
						ion-label {
						    margin-right: 0;
						}
					}
				}
    		}
		}
		ion-grid {
		    padding: 0;
		}
		.upload_btn{
			.item-inner {
			    padding-right: 0;
			}
			.image_upload_mykad {
				text-align: center;
			    img {
				    height: 100px;
				    width: 100px;
				    overflow: hidden;
				    border: 2px solid $white;
				    margin: 15px auto 0;
				}
			}
			ion-col {
			    padding: 0;
			}
			.image-upload {
			    text-transform: uppercase;
				    font-size: 12px;
				    text-align: center;
				    line-height: 18px;
				    padding: 5px 0;
				    &.light_white {
					    background: $light_white;
					    color: $black;
					}
					&.light_blue {
					    background: $sky_blue;
					    color: $white;
					}
					
				 span{
				 	 strong {
					    display: block;
					    font-family: $font1;
					}
				 }
			> input
				{
				    display: none;
				}
			}
		}
		.step_button{
			font-family: $font1;
			ion-segment{
				width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 30px 0 0 0;
			    padding: 0;	
			    opacity: 1;
			    font-family: $font1;
			     button {
				    background: transparent;
				    color: $navy_blue;
			    	text-transform: uppercase;
			    	font-size: 16px;
			    	font-family: $font1;
				}
			}
			ion-segment.segment-disabled{
				width: 100%;
			    height: 50px;
			    background: $light_white;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 30px 0 0 0;
			    padding: 0;	
			    opacity: 1;
			    font-family: $font1;
			    button {
				    background: transparent;
				    color: $grey;
			    	text-transform: uppercase;
			    	font-size: 16px;
			    	font-family: $font1;
				}
			}
		}
		
		button {
			&.upload_button{
				width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 15px 0 0 0;
			    padding: 0;	
			    font-family: $font1;
			}
		     
			ion-icon{
				&.icon {
				    position: absolute;
				    right: 15px;
				    font-weight: 600;
				    font-size: 26px;
				    top: 0;
				    bottom: 0;
				    display: flex;
				    align-items: center;
				}
			}
		}

		/***** step 2 ******/
		.questions {
			h4 {
			    color: $yellow;
			    font-weight: 600;
			    font-size: 16px;
			}
		}
		.radio_btn{
			ion-col {
			    padding: 0;
			}
			.item-inner{
				padding-right: 0;
			}
			input[type="radio"]{
				position: absolute;
			    width: 100%;
			    height: auto;
			     -webkit-appearance: none;
				&:checked{
					background: $sky_blue;
					&:before {
					    background: $sky_blue;
					}
					 + span {
					    color: $white;
					    background: $sky_blue !important;
					}
				}
			}
			span {
			    position: relative;
			    top: 0;
			    left: 0;
			    right: 0;
			    width: 100%;
			    margin: 0 auto;
			    text-align: center;
			    text-transform: uppercase;
			    color: $grey;
			    font-size: 14px;
			    font-weight: 600;
			    display: block;
    			padding: 5px 5px;
    			font-family: $font1;
			}
			label{
				&.item{
					&.item-radio {
						span{
							background: $light_white;
						    padding: 5px;
						    text-align: center;	
						}
					    
					}
				}
			}
		}
		ion-select {
		    max-width: 100%;
		    width: 100%;
		    background: $light_white;
		    font-size: 12px;
		    padding: 5px 10px;
		    font-weight: 600;
		    line-height: 18px;
		    .select-text {
			    color: $grey;
			    text-transform: uppercase;
			    font-weight: 600;
			    text-align: center;
			}
		}
		.step3_screen {
			.radio_btn {
				span {
				    text-transform: none;
				    text-align: left !important;
				    padding: 7px 15px;
				    color: $black;
				}
				ion-label {
				    margin: 10px 0px 0 0;
				}
				label{
					&.item{
						&.item-radio {
						    margin-bottom: 12px;
						}
					}
				}
			}
			
		}
		
	}
	
}


