<ion-content padding>
	<h1 class="title">Your MatchBank</h1>
	<div class="match_intro">
		<p>The MatchBank MATCH feature is a numerical analysis of your debt service ratio (DSR) based on your income and commitments to see which banks would likely approve your loan.</p>
		<p>As a risk assessment tool, MatchBank does not provide any conclusive, evaluation or credit decisions for credit grantors</p>
		<p>However this is a very useful personal financial tool to understand on how best to use the credit report for your standing with any bank. </p>
		<p>Once calculated, you will see a list of bank that may or may not pass your application.</p>

		<ul>
			<li><button  (click)="goToresult()" ion-button>Saved Result - 04/05/18</button></li>
			<li><button  (click)="goToresult()" ion-button>Saved Result - 03/05/18</button></li>
			<li><button  (click)="goToresult()" ion-button>Saved Result - 23/05/18</button></li>
		</ul>
	</div>
</ion-content>
