page-match-intro {
	h1.title {
	    margin: 10px 0 !important;
	    text-align:  center;
	    color:  #1c4577;
	    font-family: $font1;
	    text-transform:  uppercase;
	    font-size:  16px;
	}
	.match_intro{
		p {
		    font-size: 14px;
		    margin: 10px auto;
		    color: #1c4577;
		}
		ul {
		    margin: 0;
		    padding: 0;
		    text-align: center;
		    list-style: none;
		    li {
		    	button {
				    height: auto;
				    text-transform: uppercase;
				    padding: 10px 20px;
				    font-size: 14px;
				    font-weight: 600;
				    background: $yellow;
				    color: $navy_blue;
				    font-family: $font1;
				}
		    }
		}
	}
	
}
