page-credit-score {
	h1.title {
	    margin: 10px 0;
	    text-align:  center;
	    color:  #1c4577;
	    font-family: 'proxima_novaextrabold';
	    text-transform:  uppercase;
	    font-size:  16px;
	}
}

.risk_grade_list ion-list.list {
    display: flex;
    margin: auto;
    width: 69%;
}

.risk_grade_list ion-list.list ion-item.item.item-block {
    padding: 4px 0;
    text-align:  center;
    min-height:  initial !important;
    font-size:  15px;
    background:  #6d9fdb;
    border:  none;
    color:  #fff;
    contain: unset;
    overflow: visible;
}


.risk_grade_list ion-list.list ion-item.item .item-inner {
    padding:  0;
    border:  none;
}

.risk_grade_list ion-list.list ion-item.item .item-inner .input-wrapper {
    display:  block;
    overflow: visible;
    width:  100%;
    height:  auto;
}

.risk_grade_list ion-list.list ion-item.item .item-inner .input-wrapper ion-label {
    margin:  0;
    display:  block;
    color:  #fff;

}

.risk_grade_list ion-list.list ion-item.item ion-radio.radio {
    margin:  0;
}

.risk_grade_list ion-list.list ion-item.item ion-radio.radio .radio-icon {
    display:  none;
}

.risk_grade_list ion-list.list ion-item.item ion-radio.radio button {
    padding: 0;
    pointer-events: none;
}

.risk_grade_list ion-list.list ion-item.item.item-radio-checked:before {
    content: "\f3d0";
    top: -15px;
}

.risk_grade_list ion-list.list ion-item.item.item-radio-checked:after {
    content: "\f3d8";
    bottom: -17px;

}

.risk_grade_list ion-list.list ion-item.item.item-radio-checked:after, .risk_grade_list ion-list.list ion-item.item.item-radio-checked:before {
    position: absolute;
    color: #edc642;
    z-index: 12345678;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    font-family: "Ionicons";
    font-weight: bold;
}



.score {
    text-align:  center;
}

.score h1 {
    margin:  0;
    font-size: 170px;
    font-family: 'proxima_novaextrabold';
    line-height:  1;
}

.score p {
    font-family: 'proxima_nova_rgbold';
    font-size:  13px;
    margin:  0;
}

.higher_risk h5, .lower_risk h5 {
    margin:  0;
    font-size: 12px;
    line-height:  1;
    text-transform:  uppercase;
}

.risk_grade_list {
    position:  relative;
}

.higher_risk {
    left:  0;
    text-align:  right;
    padding: 0 8px 0 0;
}

.lower_risk h5 {
}

.lower_risk {
    right:  0;
    text-align: left;
    padding: 0 0 0 7px;
}

.higher_risk, .lower_risk {
    position:  absolute;
    width: 15.5%;
    top: 50%;
    transform: translateY(-50%);
}

.text p {
    color: #1c4577;
    margin: 0 0 15px;
    font-size: 15px;
}

.text {
    margin: 40px auto 0 auto;
    max-width: 73%;
    text-align:  center;
}