<ion-content>
	<h1 class="title">Credit Score</h1>

	<div class="score">
		<h1 [style.color]="selectedcolor.color">361</h1>
		<p>i-SCORE by RAMCI</p>
	</div>
	<h1 class="title risk_title">risk grade</h1>
	<div class="risk_grade_list">
		<div class="higher_risk">
			<h5>Higher risk</h5> 
		</div>
		<ion-list radio-group>
		  <ion-item *ngFor="let data of displayData; let i = index" [style.background]="data.color" >
		    <ion-label>{{ data.value }}</ion-label>
		    <ion-radio  checked="{{data.check}}" [value]="data.value" (click)="setcolor(data)" ></ion-radio>
		  </ion-item>
		</ion-list>
		<div class="lower_risk">
			<h5>Lower Risk</h5>
		</div>
	</div>
	<div class="text">
		<p>The I-SCORE is a credit score which Is a numerical representation of an individual's credtt worthiness by RAMC!. It ts based on prevailing Information available on the credit files at the time of scoring.</p> 
		<p>As a risk assessment tool. I-SCORE doest not provide any conclushte, evaluation or crelt decisions for credit grantors </p>
	</div>

</ion-content>
