<ion-content padding>
	<div class="intro_text3">
		<h1>Before we get started </h1>
		<p>We will <strong>require your IC number</strong> and your consent to generate your financial profile. </p>
		<p>For all first time users. you will be required to <strong>upload the photo of your identification card</strong> (front and back) for verification.</p>
		<p>It will take like <strong>one hour (1)</strong> to verify your Identity and to generate your financial profile If you are a first time user if additional verffication Is required, you will be notified. </p>
	
		<button class="lets_start"  (click)="registerPage()"  ion-button>Create my account</button>
	</div>
</ion-content>
