page-introscreen3 {
	ion-content {
	    &:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $navy_blue;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.scroll-content {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.intro_text3 {
	    color: $white;
	    width: 100%;
	    max-width: 93%;
	    margin: 0 auto;
	    h1 {
		    font-weight: 600;
		    font-size: 40px;
		    line-height: 36px;
			margin-bottom: 10px;
		    font-family: $font1;
		}
		p{
			margin: 0 0 30px;
			&:last-child{
				margin: 0;
			}
			strong{
				font-family: $font1;
			}
		}
		button {
			&.lets_start{
				width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 0;
			    padding: 0;	
			    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
			    font-family: $font1;
			}
		}
	}
}
