<!--
  Generated template for the VerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>verification</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

<div class="verification">
	
	<h1>SMS verification code</h1>
	<p>Please entre the verification code that was sent to xxx-xxx3835</p>

	<ion-list>
		<form novalidate (ngSubmit)="goTosuccess(user)" [formGroup]="user">
			<ion-item>        
		        <ion-input clearInput type="number" formControlName="mob" placeholder="Entre code here"></ion-input>
			</ion-item>

		<div no-lines *ngIf="( user.get('mob').hasError('required') || user.get('mob').hasError('minlength') || user.get('mob').hasError('maxlength'))&& user.get('mob').touched">

			<div class="error" *ngIf="user.get('mob').hasError('required') && user.get('mob').touched">
				Verification code is required
			</div>

			<div class="error" *ngIf="user.get('mob').hasError('minlength') && user.get('mob').touched">
				Please enter valid verification code
			</div>

			<div class="error" *ngIf="user.get('mob').hasError('maxlength') && user.get('mob').touched">
				Please enter valid verification code
			</div>

		</div>

			<ul>
				<li>Resend</li>
				<li (click)="goToregister()">Start over</li>
			</ul>

			<button class="verification_btn" [disabled]="user.invalid"  ion-button>Next</button>
		</form>
	</ion-list>
		
</div>

</ion-content>
