page-verification {
	ion-content {
	    
		&:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $purple;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.scroll-content {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.verification {
	    position: relative;
	    color: $white;
	    width: 100%;
	    max-width: 93%;
	    margin: 0 auto;
	    h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		    font-family: $font1;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		}
		ul {
		    margin: 5px auto 30px;
		    padding: 0;
		    list-style: none;
		    text-align: center;
		    text-transform: uppercase;
		    color: $yellow;
		    li {
			    display: inline;
			    &:first-child{
			    	&:before {
					    content: "";
					}
			    }
			    &:before {
				    content: "|";
				    margin: 0 10px;
				}
			}
		}
		.item-block {
		    min-height: 50px;
		    text-align: center;
		}
		 .item-inner {
		    border-bottom: none !important;
		}
		[clearInput] .text-input {
		    margin: 0;
		    font-weight: 600;
    		color: $grey;
    		text-align: center;
		}
		button{
			&.verification_btn {
			    width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 20px 0 0;
			    padding: 0;	
			    font-family: $font1;
			    &:disabled {
				    width: 100%;
				    height: 50px;
				    background: $light_white;
				    color: $grey;
				    text-transform: uppercase;
				    font-weight: 600;
				    font-size: 16px;
				    box-shadow: none;
				    border-radius: 3px;
				    padding: 0;
				    opacity: 1;
				}
			}
		}
	}
}
