page-match {
	ion-header {
	    background:  #6b36af;
	    color:  #fff;
	    text-align:  center;
	    /*max-height: 30px;*/
	    padding: 9px 0;
	    button.button {
		    position:  absolute;
		    right: 4%;
		    top: 52%;
		    transform: translateY(-50%);
		    background:  transparent;
		    color:  #fff;
		    font-size: 18px;
		    font-family: $font1;
		    line-height: 1;
		}
		img {
		    max-height: 30px;
		}
	}
}
