<ion-header>
  <img src="assets/imgs/matc_logo.png">
  <button class="button" (click)="goToaccount()"><ion-icon name="ios-settings"></ion-icon></button>
</ion-header>


<ion-content>

	<ion-tabs class="report_tab" tabsPlacement="top">
	  	<ion-tab [root]="match_tab1" tabTitle="Intro"></ion-tab>
	  	<ion-tab [root]="match_tab2" tabTitle="income"></ion-tab>
	  	<ion-tab [root]="match_tab3" tabTitle="new loan"></ion-tab>
	    <ion-tab [root]="match_tab4" tabTitle="results"></ion-tab>
	</ion-tabs>


</ion-content>
