// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'proxima_novablack';
    src: url('../assets/fonts/proximanova-black-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../assets/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-bold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../assets/fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-extrabold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../assets/fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-light-webfont.woff') format('woff');

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../assets/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-regular-webfont.woff') format('woff');

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../assets/fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-semibold-webfont.woff') format('woff');

}

@font-face {
    font-family: 'proxima_nova_condensedlight';
    src: url('../assets/fonts/proximanovacond-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanovacond-light-webfont.woff') format('woff');

}

@font-face {
    font-family: 'proxima_nova_condensedregular';
    src: url('../assets/fonts/proximanovacond-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanovacond-regular-webfont.woff') format('woff');

}

@font-face {
    font-family: 'proxima_nova_condensedSBd';
    src: url('../assets/fonts/proximanovacond-semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanovacond-semibold-webfont.woff') format('woff');

}

body, ion-app{
	font-family: 'proxima_nova_rgregular' !important;
	font-weight: normal;
}

.ion-ios-report-outline,
.ion-ios-report,.ion-md-report,.ion-md-report-outline {
  content: url('../assets/imgs/report.png');
}

.ion-ios-match-outline,
.ion-ios-match,.ion-md-match,.ion-md-match-outline {
  content: url('../assets/imgs/match.png');
}

.ion-ios-announce-outline,
.ion-ios-announce,.ion-md-announce,.ion-md-announce-outline {
  content: url('../assets/imgs/announce.png');
}



.footer-md {
  &::before {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none !important;
    background-repeat: repeat-x;
    content: "";
  }
}
.header-md {
  &::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none !important;
    background-repeat: repeat-x;
    content: "";
  }
}
.tabs-md[tabsPlacement=bottom] {
  >.tabbar {
    &::before {
      left: 0;
      bottom: -5px;
      background-position: left 0 top -2px;
      position: absolute;
      width: 100%;
      height: 5px;
      background-image: none !important;
      background-repeat: repeat-x;
      content: "";
    }
  }
}
.tabs-md[tabsPlacement=top] {
  >.tabbar {
    &::after {
      left: 0;
      bottom: -5px;
      background-position: left 0 top -2px;
      position: absolute;
      width: 100%;
      height: 5px;
      background-image: none !important;
      background-repeat: repeat-x;
      content: "";
    }
  }
}


.header-md {
    &::after {
        background-image: none !important;
    }
}
.tabs-md[tabsPlacement="top"] {
    >.tabbar {
        &::after {
            background-image: none !important;
        }
    }
}
.footer-md {
    &::before {
        background-image: none !important;
    }
}
.tabs-md[tabsPlacement="bottom"] {
    >.tabbar {
        &::before {
            background-image: none !important;
        }
    }
}

.tabs-md {
    .tab-button[aria-selected=true] {
        .tab-button-text {
            transform: unset;
            transition: unset;
        }
    }
}
.scroll-content {
    padding-bottom: 16px !important;
    ion-label{
      text-overflow: inherit !important;
      overflow: initial !important;
      white-space: normal !important;
    }
    .error {
      font-weight: 600;
      color: $yellow;
      text-align: right;
      margin-top: 2px;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: inherit;
    box-shadow: inherit;
  }
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: inherit;
    box-shadow: inherit;
  }
  .list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
    border-bottom-color: inherit;
    box-shadow: inherit;
  }
  ion-input{
      &.ng-invalid{
        &.ng-touched {
            position: unset;
            height: 50px;
            line-height: 50px;
            &:before {
              content: "";
              position: absolute;
              border: 2px solid $yellow;
              z-index: -1;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
          }
        }
      }
    }




    ion-label {
      + ion-input {
          border-left: 1px solid $grey;
          height: 50px;
          line-height: 50px;
          &.ng-invalid.ng-touched {
            border-left: 2px solid $yellow;
            margin-left: 0;
            z-index: 999;
        }
      }
    }

    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
      border-bottom-color: transparent;
      box-shadow: unset;
    }
}



.cutom_tab{
	> .tabbar.show-tabbar {
	    background:  #481f7d;
	    border:  none;
	    a{
	    	padding: 3px 0;
	    	opacity:  0.5;
	 		  min-height: 51px;
	    	&[aria-selected=true] {
			    background: #4a8ece;
			    opacity:  1;
			}
	    	span.tab-button-text {
			    margin: 5px 0 0;
			    color:  #fff;
			    text-transform:  uppercase;
			    font-weight: 600;
			    font-size:  10px;
			}
			ion-icon.tab-button-icon {
			    margin:  0;
			    height: auto;
			    min-width: auto;
			}
	    } 
	}
}
p {
    font-size: 16px;
    font-family: $font2;
}
.alert-button {
    color: $dark_blue !important;
}
.alert-ios [aria-checked=true] .alert-radio-label {
    color: $dark_blue;
}
.alert-ios [aria-checked=true] .alert-radio-inner {
    border-color: $dark_blue;
}
.alert-md [aria-checked=true] .alert-radio-label {
    color: $dark_blue;
}
.alert-md .alert-radio-inner {
    background-color: $dark_blue;
}
.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: $dark_blue;
}


    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $grey;
      font-size: 14px;
      font-weight: 600;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $grey;
      font-size: 14px;
      font-weight: 600;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $grey;
      font-size: 14px;
      font-weight: 600;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $grey;
      font-size: 14px;
      font-weight: 600;
    }