<ion-content padding>
	<div class="intro_text2">
		<h1>What you will find out</h1>
		<p><strong>How likely you will be approved</strong> for yont next loan. We., check your commitments against your Income and provide a comprehensive list of banks to match with you.</p>
		<p><strong>Easy to  understand financial profile</strong> Yon will see exactly what are your fananclal commitments that banks will consider and how good your creed health is.</p>
		<p><strong>Free advice</strong> on what you can do to Improve your financial profile</p>
	
		<button class="lets_start" (click)="Intro3()" ion-button>Next</button>
	</div>
</ion-content>
