<ion-content padding>

	<div class="intro_text">
		<h1>Hello</h1>
		<p>Thank you for downloading <strong>Matchbank</strong>, your <strong>quick and easy credit checker.</strong></p>
		<p>Find out how likely you'll be approved for your next loan or any other credit product through your financial profile.</p>
	
		<button class="lets_start activated" (click)="Intro2()" ion-button>Let's Get Started</button>

	<!-- <button (click)="registerPage()">Let's Get Started</button> -->
</div>
</ion-content>
