<ion-content padding>
	<h1 class="title">Legal</h1>

	<div class="other_list">
		<div class="other_item">
			<div class="other_item_head">
				<div class="row">
					<div class="col">
						<h3>Bankruptcy</h3>
					</div>
				</div>
			</div>
			<table>
				<tr>
					<th>Case Number</th>
					<th>Discharge date</th>
					<th></th>
				</tr>
				<tr>
					<td>29-XXXX-2015</td>
					<td>20 DEC 2017</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class="other_item">
			<div class="other_item_head">
				<div class="row">
					<div class="col">
						<h3>Legal Action</h3>
					</div>
				</div>
			</div>
			<table>
				<tr>
					<th>Case Number</th>
					<th>Case Status</th>
					<th>nature of claim</th>
				</tr>
				<tr>
					<td>XX-9882-2017</td>
					<td>HEARING</td>
					<td>CREDIT RELATED</td>
				</tr>
			</table>
		</div>
	</div>
</ion-content>
