page-others {
	h1.title {
	    margin: 10px 0 !important;
	    text-align:  center;
	    color:  #1c4577;
	    font-family: $font1;
	    text-transform:  uppercase;
	    font-size:  16px;
	}
	.scroll-content {
	    padding: 5px 0 !important;
	    overflow: hidden;
	}

	.other_list{
	height: 100%;
    overflow: auto;
	.other_item{
		    margin-bottom: 30px;
		    &:last-child {
				margin-bottom: 226px;
			}
		.other_item_head{
			background: #d5dce6;
			padding: 0 10px;
			h3 {
			    margin: 0;
			    font-size: 12px;
			    text-transform: uppercase;
			    font-weight: 600;
			}
			span {
			    float: right;
			}
		}
		
		table{
			    width: 100%;
			tbody{
				tr{
					&:first-child {
					    border-bottom: 1px solid #ccc;
					}
					th {
					    background: #eaf0f8;
					    padding: 6px 15px;
					    font-size: 10px;
					    text-transform: uppercase;
					    text-align: left;
					    color: $navy_blue;
					    font-family: $font1;
					}
					td {
					    border-bottom: 1px solid #ccc;
					    padding: 6px 15px;
					    font-size: 11px;
					    text-align: left;
					}
				}
			}
		}
	}
}
}

