<ion-content padding>
	<div class="match__new_income_header">
		<h1 class="title">Your New Loan</h1>
		<p>Kindly fill in the following fields if you are intending to get a new housing loan anytime soon. Leave it blank if you wish to just calculate your current Debt Service Ratio (DSR).</p>
	</div>
	<div class="new_match_income">
		<ion-list>
		 <form novalidate (ngSubmit)="goToresult(user)" [formGroup]="user">
		    <div class="match_income_feild">
			    <label>Loan Amount</label>
			 	<ion-item>   
					<ion-label>Rm</ion-label>
			        <ion-input clearInput type="number" formControlName="loan" placeholder="0.00"></ion-input>
				</ion-item>
				<div no-lines *ngIf="( user.get('loan').hasError('required') || user.get('loan').hasError('minlength') || user.get('loan').hasError('maxlength'))&& user.get('loan').touched">
					<div class="error" *ngIf="user.get('loan').hasError('required') && user.get('loan').touched">
						Loan Amount is required
					</div>
					<div class="error" *ngIf="user.get('loan').hasError('minlength') && user.get('loan').touched">
						Please enter valid Loan Amount
					</div>

					<div class="error" *ngIf="user.get('loan').hasError('maxlength') && user.get('loan').touched">
						Please enter valid Loan Amount
					</div>
				</div>
			</div>
			<div class="match_income_feild">
			    <label>Loan Tenure (years)</label>
			 	<ion-item>   
					<ion-label>  <ion-icon name="ios-clock"></ion-icon></ion-label>
			        <ion-input clearInput type="number" formControlName="loantenure" placeholder="0.00"></ion-input>
				</ion-item>
				<div no-lines *ngIf="( user.get('loantenure').hasError('required') || user.get('loantenure').hasError('minlength') || user.get('loantenure').hasError('maxlength'))&& user.get('loantenure').touched">
					<div class="error" *ngIf="user.get('loantenure').hasError('required') && user.get('loantenure').touched">
						Loan Amount is required
					</div>
					<div class="error" *ngIf="user.get('loantenure').hasError('minlength') && user.get('loantenure').touched">
						Please enter valid Loan Amount
					</div>

					<div class="error" *ngIf="user.get('loantenure').hasError('maxlength') && user.get('loantenure').touched">
						Please enter valid Loan Amount
					</div>
				</div>
			</div>
			<button class="register_btn"  [disabled]="user.invalid" ion-button>Next</button>
		</form>
		</ion-list>
	</div>
</ion-content>
