page-terms {
	ion-content {
	    &:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $dark_blue;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.term_condition {
	    position: relative;
	    color: $white;
	    width: 100%;
	    max-width: 93%;
	    margin: 0 auto;
	    h1 {
		    margin: 10px 0 10px 0 !important;
		    font-weight: 600;
		    font-size: 28px;
		    color: $white;
		    font-family: $font1;
		}
		h6 {
		    text-transform: uppercase;
		    text-align: center;
		    color: $white;
		    font-weight: 600;
		    font-family: $font1;
		    margin: 0 0 25px 0 !important;
		}
		p {
		    margin: 0 0 0 0;
		    line-height: 26px;
		}
		.item-block {
			.item-inner {
			    border-bottom: none;
			}
		}
		.step_btn {
			ion-segment{
				width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 30px 0 0 0;
			    padding: 0;	
			    opacity: 1;
			    font-family: $font1;
			     button {
				    background: transparent;
				    color: $navy_blue;
			    	text-transform: uppercase;
			    	font-size: 16px;
			    	font-family: $font1;
				}
			}
			ion-segment.segment-disabled{
				width: 100%;
			    height: 50px;
			    background: $light_white;
			    color: $grey;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 30px 0 0 0;
			    padding: 0;	
			    opacity: 1;
			    font-family: $font1;
			    button {
				    background: transparent;
				    color: $grey;
			    	text-transform: uppercase;
			    	font-size: 16px;
			    	font-family: $font1;
				}
			}
		}
		button {
			&.term_condition_btn{
				width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 30px 0 0 0;
			    padding: 0;	
			    font-family: $font1;
			}
		}
		.segment-button {
		    border: none;
		    text-transform: uppercase;
		    position: relative;
		    color: $sky_blue;
		    font-family: $font2;
		    opacity: 1;
		    height: auto;
		    &.segment-activated {
		    	background: transparent;
		    	color: $yellow;
		    	font-weight: 500;
		    }
		    &:first-child{
		    	&:before {
				    content: "";
				}
		    }
		    &:before {
			    content: "|";
			    position: absolute;
			    left: 0;
			    top: 0;
			    bottom: 0;
			    color: $sky_blue;
			}
			&:hover {
			    background: transparent !important;
			}
		}
		ion-item {
		    background: transparent;
		    padding: 0;
    		color: $white;
    		border-top: none !important;
    		border-bottom: none !important;
    		ion-label{
    			text-overflow: unset !important;
			    overflow: unset !important;
			    white-space: unset !important;
    			&.label {
				    text-overflow: unset;
				    overflow: unset;
				    white-space: unset;
				    p {
					    color: $white;
					}
				}
    		}
		}
		.toggle-md{
			&.toggle-checked {
				.toggle-inner {
				    background-color: $white;
				}
			}
		}
		.toggle-checked {
		    	.toggle-icon {
				    background-color: $green;
				}
		    }
		ion-toggle {
		    display: inline-block;
		    vertical-align: middle;
		}
		span {
	    	&.toggle_label{
	    		position: absolute;
			    display: inline-block;
			    vertical-align: middle;
			    margin-left: 15px;
			    color: $white;
	    	}
		}
	}
}
