<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>terms</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

<div class="term_condition">
  <h6>Matchbank App</h6>

    <div>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="Step1">
        Step1
      </ion-segment-button>
      <ion-segment-button value="Step2">
        Step2
      </ion-segment-button>
       <ion-segment-button value="Step3">
        Step3
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'Step1'">

      <ion-item>
        <h1>Terms & Conditions</h1>
        <p>By Submitting my personal Information to Matchbank</p><br/>
        <p>- I give consent to Matchbank by FAR Digital Ventures to disclose my personal information to RAM Credit information Sdn Bhd ("RAMCI") to verify and obtain my credit information (including CCRIS and DCHEQS from Bank Negara Malaysia) to facilitate my credit score and/or profile; and</p><br/>
        <p>- I give consent to RAMCI to disclose my credit information to MatchBank for the purpose of preparing my credit score profile and make recommendations to improve my credit health.</p>
      </ion-item>
      <ion-toggle [(ngModel)]="termsprivacy" checked="false" [ngModelOptions]="{standalone: true}"></ion-toggle>
      <span class="toggle_label">I consent and agree to<br/> these terms & conditions</span>
      <!-- <button class="term_condition_btn"  (click)="goToupload()" ion-button>I Agree</button> -->
      <div class="step_btn" >
        <ion-segment [(ngModel)]="pet" [(disabled)]="!termsprivacy" ion-button block type="submit">
          <ion-segment-button value="Step2">
          <button> I Agree </button>
        </ion-segment-button>
        </ion-segment>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'Step2'">
      <ion-item>
        <h1>Lorem Ipsum</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <!-- <button class="term_condition_btn"  (click)="goToupload()" ion-button>I Agree</button> -->
        <div class="step_btn">
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="Step3">
          <button> Next </button>
        </ion-segment-button>
        </ion-segment>
      </div>
      </ion-item>
    </ion-list>
     <ion-list *ngSwitchCase="'Step3'">
      <ion-item>
        <h1>Lorem Ipsum Ipsum</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <button class="term_condition_btn"  (click)="goToupload()" ion-button>Next</button>
      </ion-item>
    </ion-list>
  </div>

  <!-- <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
  <span class="toggle_label">I consent and agree to<br/> these terms & conditions</span>

  <button class="term_condition_btn"  (click)="goToupload()" ion-button>I Agree</button> -->

</div>

</ion-content>
