page-splash {
	ion-content {
	    color: $white;
	    background-image: url(./../assets/imgs/splash.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    &:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    background: rgba(0, 0, 0, 0.5);
		}
	}
	.main_splash {
	    text-align: center;
	    .splash_header {
		    margin: 15px auto;
		}
		.splash_slider {
		    margin: 100px auto;
		    color: $white;
		    .swiper-pagination-bullet {
			    background: $white;
			    opacity: .5;
			}
			.swiper-pagination-bullet-active {
			    background: $white;
			    opacity: 1;
			}
		    .swiper-container-horizontal {
		    	> .swiper-pagination-bullets {
				    bottom: 0px;
				}
		    }
		    h2 {
			    font-weight: 600;
			    font-size: 22px;
			    text-transform: capitalize;
			    font-family: $font1;
			}
			p {
			    margin: 0px auto 25px;
			}
		}
		.spalsh_bottom {
			position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 20px;
		    width: 100%;
		    max-width: 90%;
		    margin: 0 auto;
		    button {
			    width: 100%;
			    height: 45px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 0;
			    padding: 0;	
			    font-family: $font1;
			    &.create_account{
			    	background: $purple;
			    	color: $white;
			    }
			    &.log_in{
			    	background: $light_white;
			    	color: $navy_blue;
			    }
			}
			span{
				&.user {
				    color: $white;
				    font-size: 16px;
				    font-weight: 600;
				}
			}
		}
	}
}
