<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>splash</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
<div class="main_splash">	
	<div class="splash_header">
		<img src="assets/imgs/matc_logo.png">
	</div>
	<div class="splash_slider">
		<ion-slides pager>
			  <ion-slide>
			    <h2>Loan Approval 1</h2>
			    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
			  </ion-slide>
			  <ion-slide>
			    <h2>Loan Approval 2</h2>
			    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
			  </ion-slide>
			  <ion-slide>
			    <h2>Loan Approval 3</h2>
			    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
			  </ion-slide>
			  <ion-slide>
			    <h2>Loan Approval 4</h2>
			    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
			  </ion-slide>
		</ion-slides>
	</div>	
	<div class="spalsh_bottom">
		<ion-row>
			<ion-col col-12>
			        <button class="create_account" (click)="goToregister()" ion-button>Create account</button>
			    </ion-col>
			    <ion-col col-12>
			        <span class="user">Allready a user?</span>
			    </ion-col>
			     <ion-col col-12>
			        <button class="log_in"  (click)="goTologin()" ion-button>Log in</button>
			    </ion-col>
			</ion-row>
	</div>
</div>
</ion-content>
