page-register {
	ion-content {
		    &:before {
			    content: "";
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 0;
			    background-color: $purple;
			    height: 100% !important;
			    width: 100% !important;
			    color: $white;
			    background-image: url(./../assets/imgs/bg1.png);
			    background-repeat: no-repeat;
			    background-position: right bottom;
			}
    	}
    	

	.register{
			position: relative;
			color: $white;
		    width: 100%;
		    max-width: 93%;
		    margin: 30px auto 0;
    		ion-list{
    			margin: 0;
    		}
    		
		h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		    font-family: $font1;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		}
		.list-ios {
			> .item-block{
				&:first-child {
				    border-top: none;
				}
			}
		}
		ion-icon {
		    color: $grey;
		    font-size: 22px;
		}
		ion-item{
			&.item-input {
			    padding-left: 0;
			    background: transparent;
			    margin-top: 20px;
			    &:first-child {
			    	.item-inner {
					    margin-top: 0;
					}
			    }
			}
		}
		[clearInput] .text-input {
		    padding-right: 0;
		    margin: 0 0 0 23px;
		    font-weight: 600;
    		color: $grey;
		}
		.item-inner {
		    border: 0.55px solid $grey_border;
		    background: $white;
		}
		.item-block {
		    min-height: 50px;
		}
		ion-label {
		    width: 46px;
		    margin: 0 auto !important;
		    text-align: center;
		    height: 50px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
		button {
			&.register_btn{
				width: 100%;
			    height: 50px;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 20px 0 0;
			    padding: 0;	
			    font-family: $font1;
			    &:disabled {
				    width: 100%;
				    height: 50px;
				    background: $light_white;
				    color: $grey;
				    text-transform: uppercase;
				    font-weight: 600;
				    font-size: 16px;
				    box-shadow: none;
				    border-radius: 3px;
				    padding: 0;
				    opacity: 1;
				}
			}

		}
		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $grey;
		  font-size: 14px;
		  font-weight: 600;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: $grey;
		  font-size: 14px;
		  font-weight: 600;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: $grey;
		  font-size: 14px;
		  font-weight: 600;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: $grey;
		  font-size: 14px;
		  font-weight: 600;
		}
	}
}



