<ion-content padding>

<div class="register">
	
	<h1>Create your login</h1>
	<p>Use your Matchbank account to access your online financial profile.</p>
	<ion-list>
		<form novalidate (ngSubmit)="goToverification(user)" [formGroup]="user">
		<ion-item>    
		    <ion-label><ion-icon name="ios-person"></ion-icon></ion-label>
	        <ion-input clearInput formControlName="Username" type="text" placeholder="User Name"></ion-input>
	    </ion-item>
		
		<div no-lines *ngIf="( user.get('Username').hasError('minlength') || user.get('Username').hasError('required') ) && user.get('Username').touched">

			<div class="error" *ngIf="user.get('Username').hasError('required') && user.get('Username').touched">
			Name is required
			</div>
			<div class="error" *ngIf="user.get('Username').hasError('minlength') && user.get('Username').touched">
			Minimum of 4 characters
			</div>
		</div>

		
		<ion-item>        
	        <ion-label><ion-icon name="ios-call"></ion-icon></ion-label>
	        <ion-input clearInput formControlName="mob" type="number" placeholder="Mobile Number (e.g 0113456789)"></ion-input>
		</ion-item>

		<div no-lines *ngIf="( user.get('mob').hasError('required') || user.get('mob').hasError('minlength') || user.get('mob').hasError('maxlength'))&& user.get('mob').touched">



			<div class="error" *ngIf="user.get('mob').hasError('required') && user.get('mob').touched">
			Mobile number is required
			</div>
			<div class="error" *ngIf="user.get('mob').hasError('minlength') && user.get('mob').touched">
			Please enter valid mobile number
			</div>

			<div class="error" *ngIf="user.get('mob').hasError('maxlength') && user.get('mob').touched">
			Please enter valid mobile number
			</div>


		</div>

		

		<ion-item>        
	        <ion-label><ion-icon name="ios-mail"></ion-icon></ion-label>
	        <ion-input clearInput formControlName="email" type="text" placeholder="Email (me@example.com)"></ion-input>
		</ion-item>

		<div no-lines *ngIf="( user.get('email').hasError('required') || user.get('email').hasError('pattern') ) && user.get('email').touched">

			<div class="error" *ngIf="user.get('email').hasError('required') && user.get('email').touched">
				Email is required
			</div>

			<div class="error" *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
				Please enter valid email
			</div>

		</div>

		

		<ion-item>        
	        <ion-label><ion-icon name="ios-key"></ion-icon></ion-label>
	        <ion-input clearInput type="password" formControlName="password" placeholder="Password (min. 6 characters)"></ion-input>
		</ion-item>

		<div no-lines *ngIf="( user.get('password').hasError('minlength') || user.get('password').hasError('required') ) && user.get('password').touched">

			<div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
				Password is required
			</div>
			<div class="error" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">
				Minimum of 6 characters
			</div>
		</div>


		<ion-item>        
	        <ion-label><ion-icon name="ios-key"></ion-icon></ion-label>
	        <ion-input clearInput type="password" formControlName="re_password" placeholder="Confirm Password"></ion-input>
		</ion-item>

		<div no-lines *ngIf="( user.get('re_password').hasError('equalTo') || user.get('re_password').hasError('required') ) && user.get('re_password').touched">

		<div class="error" *ngIf="user.get('re_password').hasError('required') && user.get('re_password').touched">
		Confirm password is required
		</div>
		<div class="error" *ngIf="user.get('re_password').hasError('equalTo') && user.get('re_password').touched">
		Password Mismatch
		</div>
		</div>

			

		<button class="register_btn" [disabled]="user.invalid"  ion-button>Verify my email</button>
	</form>
		</ion-list>
</div>

</ion-content>
