<!--
  Generated template for the ChangeLogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>change_log</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

<div class="change_log">
	<div class="change_log_img">
		<div class="log_img">
			<img src="assets/imgs/annouce.png">
		</div>
		<div class="change_log_text">
			<h2>Hello, Nadiah</h2>
			<h1>22, Julai</h1>
			<p>Isnin | <ion-icon name="md-sunny"></ion-icon> Morning Digest</p>
		</div>
		<div class="change_log_content">
			<h1>Announcement</h1>
			<span class="tips">Tips</span>
			<h2>The debt servcie ratio explained</h2>
			<p>The Debt Service Ratio is used by every bank to decide how much more lending your income can take. We explain how this ratio is calculated so you will have some idea as to how your new application is going to work out for you!</p>
			<button class="read_btn" (click)="goToarticle()" ion-button>Read more</button>
			<span class="hour_time">3 min read</span>
		</div>
		<div class="change_log_content">
			<h1>Announcement</h1>
			<span class="tips">Tips</span>
			<h2>The debt servcie ratio explained</h2>
			<p>The Debt Service Ratio is used by every bank to decide how much more lending your income can take. We explain how this ratio is calculated so you will have some idea as to how your new application is going to work out for you!</p>
			<button class="read_btn"  ion-button>Read more</button>
			<span class="hour_time">3 min read</span>
		</div>
	</div>
	<div class="read_stories">
		<h1>Read 1 out of 3 stories</h1>
	</div>
</div>

</ion-content>
