page-change-log {
	.scroll-content {
		padding-top: 0 !important;
	}
	.change_log{
		.change_log_img{
			position: relative;
			img {
			    width: 100%;
			}
		}
		.change_log_text {
		    position: absolute;
		    top: 90px;
		    left: 10px;
		    h1 {
			    margin: 0;
			    font-size: 30px;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-family: $font1;
			   
			}
			h2 {
			    margin: 0;
			    font-size: 16px;
    			font-weight: 600;
    			font-family: $font1;
			}
			p {
			    margin: 0;
			    font-size: 14px;
			}
		}
		.change_log_content {
			padding-bottom: 15px;
		    margin:  16px;
		    border-bottom: 1px solid $dark_grey;
		    &:last-child {
			    border-bottom: none;
			    margin-bottom: 50px;
			}
		     h1 {
			    font-size: 16px;
			    text-transform: uppercase;
			    font-weight: 600;
			    margin: 0 auto 15px;
			    font-family: $font1;
			}
			h2 {
			    font-size: 18px;
			    text-transform: capitalize;
			    font-weight: 600;
			    font-family: $font1;
			}
			p {
			    line-height: 26px;
			    color: $dark_grey;
			}
			span {
				&.tips{
					text-transform: uppercase;
				    font-size: 14px;
				    color: $dark_purple;
				    font-weight: 600;
				}
				&.hour_time {
				    float: right;
				    position: relative;
				    top: 10px;
				    font-weight: 600;
				    color: $dark_grey;
				}
			}
			button {
				&.read_btn{
					width: 100%;
				    max-width: 130px;
				    background: $sky_blue;
				    font-weight: 600;
				    font-size: 14px;
				    text-transform: uppercase;
				    height: auto;
				    padding: 10px 10px 8px;
				    margin: 0;
				    font-family: $font1;
				}
			}
		}
		.read_stories {
		    position: fixed;
		    bottom: 0;
		    text-align: center;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    background: $yellow;
		    font-family: $font1;
		    h1 {
			    margin: 0;
			    font-size: 16px;
			    text-transform: uppercase;
			    padding: 15px 0;
			    font-weight: 600;
			    color: $navy_blue;
			    font-family: $font1;
			}
		}
	}
}
