<!--
  Generated template for the ProcessCompletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>process_complete</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>

<div class="process_complete">
		<h6>Matchbank App</h6>
	<div class="process_complete_centre">
		<ion-icon name="md-thumbs-up"></ion-icon>
		<h1>Process complete!</h1>
	</div>
	<p>Thank you for your patience and welcome to <strong>Matchbank</strong>, your <strong>quick and easy credit checker.</strong></p><br/>
	<p>Find out how likely you'll be approved for your next loan or any other credit product through your financial profile.</p>

		<button class="process_complete_btn"  (click)="goTosplash()" ion-button>Go to my account</button>
</div>

</ion-content>
