page-process-complete {
	ion-content {
	   	&:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    background-color: $yellow;
		    height: 100% !important;
		    width: 100% !important;
		    color: $white;
		    background-image: url(./../assets/imgs/bg1.png);
		    background-repeat: no-repeat;
		    background-position: right bottom;
		}
	}
	.process_complete {
	    position: relative;
	    color: $black;
	    width: 100%;
	    max-width: 93%;
	    margin: 0 auto;
    	 h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		    font-family: $font1;
		}
		h6 {
		    text-transform: uppercase;
		    text-align: center;
		    font-weight: 600;
		    margin: 0 0 25px 0 !important;
		    font-family: $font1;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		    strong{
		    	font-family: $font1;
		    }
		}
		.process_complete_centre {
			text-align: center;
			margin-bottom: 30px;
			ion-icon {
			    font-size: 80px;
			    margin-bottom: 15px;
			}
		}
		button {
			&.process_complete_btn{
				width: 100%;
			    height: 50px;
			    background: $sky_blue;
			    color: $white;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    margin: 0;
			    padding: 0;	
			    font-family: $font1;
			}
		}
    }
}
