page-income {
	.scroll-content {
	    padding: 0 !important;
	}
	.match_income_header{
			padding: 0 16px;
		h1.title {
		    margin: 10px 0  0 !important;
		    text-align:  center;
		    color:  #1c4577;
		    font-family: $font1;
		    text-transform:  uppercase;
		    font-size:  16px;
		}
		p {
		    margin: 0 auto 10px;
		    text-align: center;
		    font-size: 14px;
		    color:  #1c4577;
		}
	}
	
	.match_income{
			position: relative;
			max-width: 300px;
			padding: 0 5vw;
    		margin: 0 auto 30px;
    		color: $white;
    		ion-list{
    			margin: 0;
    		}
		h1 {
		    margin: 0 0 10px 0;
		    font-weight: 600;
		    font-size: 28px;
		}
		p {
		    margin: 0 0 15px 0;
		    line-height: 26px;
		}
		.match_income_feild {
		    padding-left: 6vw;
		    margin-bottom: 20px;
		    .error {
			    width: 180px;
			}
		}
		.list-ios {
			> .item-block{
				&:first-child {
				    border-top: none;
				}
			}
		}
		ion-icon {
		    color: $grey;
		    font-size: 22px;
		}
		ion-item.item-input {
		    padding-left: 0;
		    background: transparent;
		    width: 180px;
		    border-bottom: inherit;
		    &:last-child {
			    border-bottom: none;
			}
		}
		[clearInput] .text-input {
		    padding-right: 0;
		    margin: 0 0 0 10px;
		    font-weight: 600;
    		color: $grey;
		}
		
		.item-inner {
		    border: 2px solid $grey_border !important;
		    background: $white;
		}
		.item-block {
		    min-height: 50px;
		}
		label {
		    color: $dark_grey;
		    font-weight: 600;
		    margin-bottom: 5px;
		    display: inline-block;
		}
		ion-label {
		    width: 46px;
		    margin: 0 auto !important;
		    text-align: center;
		    height: 50px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    text-transform: uppercase;
		    font-size: 14px;
		    font-weight: 600;
		    color: $black !important;
		    font-family: $font1;
		    + ion-input {
			    border-left: 2px solid #9e9f9f;
			}
		}
		
		button {
			&.register_btn{
				display: flex;
			    width: 100%;
			    height: auto;
			    background: $yellow;
			    color: $navy_blue;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 16px;
			    box-shadow: none;
			    border-radius: 3px;
			    max-width: 150px;
			    padding: 8px 10px;
			    margin: 0 auto;
			    text-align: center;
			    font-family: $font1;
			     &:disabled {
				    background: $light_white;
				    color: $grey;
				    opacity: 1;
				}
			}
		}
	}
}
