<ion-content padding>
	<div class="match_income_header">
		<h1 class="title">Your Monthly Income</h1>
		<p>Please entre your source of income</p>
	</div>
	<div class="match_income">
		<ion-list>
		<!-- <input type="text"  formatter placeholder="number" style="color: red;border: 1px solid;" /> -->
		 <form (ngSubmit)="goTonewloan(user)" [formGroup]="user">
		    <div class="match_income_feild">
			    <label>Gross Income*</label>
			 	<ion-item>   
					<ion-label>Rm</ion-label>
			        <ion-input clearInput type="number" formatter  formControlName="gross" placeholder="0.00"></ion-input>
				</ion-item>
				<div no-lines *ngIf="( user.get('gross').hasError('required') || user.get('gross').hasError('minlength') || user.get('gross').hasError('maxlength'))&& user.get('gross').touched">
					<div class="error" *ngIf="user.get('gross').hasError('required') && user.get('gross').touched">
						Gross Income is required
					</div>
					<div class="error" *ngIf="user.get('gross').hasError('minlength') && user.get('gross').touched">
						Please enter valid Gross Income
					</div>

					<div class="error" *ngIf="user.get('gross').hasError('maxlength') && user.get('gross').touched">
						Please enter valid Gross Income
					</div>
				</div>
			</div>

			<div class="match_income_feild">
			    <label>Nett Income*</label>
			 	<ion-item>   
					<ion-label>Rm</ion-label>
			        <ion-input clearInput type="number" formControlName="nett" placeholder="0.00"></ion-input>
				</ion-item>
				<div no-lines *ngIf="( user.get('nett').hasError('required') || user.get('nett').hasError('minlength') || user.get('nett').hasError('maxlength'))&& user.get('nett').touched">
					<div class="error" *ngIf="user.get('nett').hasError('required') && user.get('nett').touched">
						Nett Income is required
					</div>
					<div class="error" *ngIf="user.get('nett').hasError('minlength') && user.get('nett').touched">
						Please enter valid Nett Income
					</div>

					<div class="error" *ngIf="user.get('nett').hasError('maxlength') && user.get('nett').touched">
						Please enter valid Nett Income
					</div>
				</div>
			</div>
			<div class="match_income_feild">
			    <label>Rental Income*</label>
			 	<ion-item>   
					<ion-label>Rm</ion-label>
			        <ion-input clearInput type="number" formControlName="rental" placeholder="0.00"></ion-input>
				</ion-item>
				<div no-lines *ngIf="( user.get('rental').hasError('required') || user.get('rental').hasError('minlength') || user.get('rental').hasError('maxlength'))&& user.get('rental').touched">
					<div class="error" *ngIf="user.get('rental').hasError('required') && user.get('rental').touched">
						Rental Income is required
					</div>
					<div class="error" *ngIf="user.get('rental').hasError('minlength') && user.get('rental').touched">
						Please enter valid Rental Income
					</div>

					<div class="error" *ngIf="user.get('rental').hasError('maxlength') && user.get('rental').touched">
						Please enter valid Rental Income
					</div>
				</div>
			</div>
			<div class="match_income_feild">
			    <label>Last daclared annual income (EA form)</label>
			 	<ion-item>   
					<ion-label>Rm</ion-label>
			        <ion-input clearInput type="number" formControlName="last" placeholder="0.00"></ion-input>
				</ion-item>
				<div no-lines *ngIf="( user.get('last').hasError('required') || user.get('last').hasError('minlength') || user.get('last').hasError('maxlength'))&& user.get('last').touched">
					<div class="error" *ngIf="user.get('last').hasError('required') && user.get('last').touched">
						Rental Income is required
					</div>
					<div class="error" *ngIf="user.get('last').hasError('minlength') && user.get('last').touched">
						Please enter valid Rental Income
					</div>

					<div class="error" *ngIf="user.get('last').hasError('maxlength') && user.get('last').touched">
						Please enter valid Rental Income
					</div>
				</div>
			</div>
			<!-- <input type="text"  formatter placeholder="number" style="color: red;border: 1px solid;" /> -->
			<button class="register_btn"   [disabled]="user.invalid" ion-button>Next</button>
		</form>
		</ion-list>
	</div>
</ion-content>
