page-account-detials {
	.scroll-content {
		.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
		    border-bottom-color: rgba(255, 255, 255, 0.5);
		    box-shadow: inherit;
		  }
		  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
		    border-bottom-color: rgba(255, 255, 255, 0.5);
		    box-shadow: inherit;
		  }
		  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
			    border-bottom-color: rgba(255, 255, 255, 0.5);
		    	box-shadow: inherit;
			}
			.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
			    border-bottom-color: rgba(255, 255, 255, 0.5);
		    	box-shadow: inherit;
			  }
			  ion-input{
			  	&.ng-invalid{
			  		&.ng-touched{
			  			&:before {
						    content: "";
						    position: absolute;
						    border: none;
						    z-index: -1;
						    top: 0;
						    left: 0;
						    bottom: 0;
						    right: 0;
						}
			  		}
			  	}
			  }
		ion-label {
			+ ion-input {
			    border-left: inherit;
			    height: auto;
			    line-height: inherit;
			    &.ng-invalid{
			    	&.ng-touched {
					    border-left: none;
					&:before {
							border: none;
						    border-bottom: 1px solid #f1d04d;
						}	
					}
			    }
			}
		}
		ion-input{
			&.ng-invalid{
				&.ng-touched {
				    height: inherit;
				    line-height: inherit;
				}
			}
		}
	}
	ion-header {
	    background:  $purple;
	    color:  $white;
	    text-align:  center;
	    padding: 9px 0;
	    button.button {
		    position:  absolute;
		    right: 4%;
		    top: 52%;
		    transform: translateY(-50%);
		    background:  transparent;
		    color:  $white;
		    font-size: 18px;
		    line-height: 1;
		}
		img {
		    max-height: 30px;
		}
	}
	ion-content {
	    background: $dark_purple !important;
	}
	.main_account_detials{
		background: $white;
    	.list-ios {
		    margin: 0;
		}
		ion-label{
			&.label {
			    margin: 0;
			}
		}
		.item-inner {
		    padding-right: 0 !important;
		}
		ion-item{
			&.item{
				&.item-block {
				    padding: 0;
				}
			}
			&:last-child {
				.item-inner {
				    border-bottom: none;
				}
			}
		}
		.tabs {
		    padding: 16px;
		}
		.tabs_content{
			.acunt_detials {
		    background: $purple;
		    padding: 15px 15px;
		    margin: 15px auto 0;
		    color: $white;
		    .right {
		    	button{
		    		&.account_detials_btn{
		    			&.save_info {
						    display: block;
						}
						&.edit_info{
							display: none;
						}
					}
		    	}
		    }
		    h4 {
			    font-size: 18px;
			    font-weight: 600;
			    margin: 15px auto 20px;
			    text-transform: capitalize;
			    font-family: $font1;
			}
			ion-icon{
				&.icon {
				    margin-right: 15px;
				}
			}
			button {
				&.account_detials_btn{
					width: 100%;
				    max-width: 150px;
				    margin: 30px auto 15px;
				    height: auto;
				    text-align: center;
				    display: flex;
				    padding: 6px 0;
				    font-size: 14px;
				    font-weight: 600;
				    background: $yellow;
				    text-transform: uppercase;
				    color: $navy_blue;
				    font-family: $font1;
				    &:disabled {
					    background: $light_white;
					    color: $grey;
					}
				    &.save_info {
					    display: none;
					}
					&.edit_info{
						display: block;
					}
				}
				&.view_report_btn{
					max-width: 90%;
					padding: 10px 0;
				}
			}
			.acunt_detials_form {
				padding: 0 20px;
				.list-md {
					.item-input{
						&:last-child {
						    border-bottom: none;
						}
					}
				}
				.password_field_show {
					ion-item {
					    pointer-events: unset;
					}
				}
				.password_field {
					ion-item{
						&:nth-child(4) {
						    display: block !important;
						}
					}
				}
				&.danger {
					.password_field {
					    display: none;
					}
					.password_field_show {
						.password_field {
						    display: block;
						}
						ion-item{
					    	&:nth-child(4) {
							    display: none;
							}
					    }
					    button{
					    	&.account_detials_btn{
					    		&.save_info {
								    display: block;
								}
								&.edit_info {
								    display: none;
								}
					    	}
					    }
					}
				}
				&.success{
					ion-item {
					    pointer-events: unset;
					}
					button{
						&.account_detials_btn{
							&.save_info{
								display: block;
							}
							&.edit_info{
								display: none;
							}
						}
					}
					ion-item {
					    
					    &:nth-child(4){
					    	display: none;
					    }
					}
					/*.password_field_show {
						.password_field {
						    display: block;
						}
					}*/
				}

				.password_field_show {
					    .password_field{
					    	display: none;
						}
						 ion-item{
						 	&:nth-child(4) {
							    display: block;
							}
						 }
						 button{
						 	&.account_detials_btn{
						 		&.edit_info {
								    display: block;
								}
								&.save_info {
								    display: none;
								}
						 	}
						 }
					}
				
				&.right {
					ion-item {
					    pointer-events: unset;
					    &:nth-child(4){
					    	display: none;
					    }
					}
					.hide_feild {
					    display: block;
					}
					.left {
						.hide_feild {
						    display: none;
						}
						ion-item{
							&:nth-child(4) {
							    display: block;
							}
						}
						button{
							&.account_detials_btn{
								&.edit_info {
								    display: block;
								}
								&.save_info {
								    display: none;
								}
							}
						}
					}
				}
				.save_contain {
					ion-item{
						&.active{
							&:nth-child(4) {
							    display: block;
							}
						}
					}
				}
				.show_hide_feild {
					.psw_field {
					    display: block;
					}
				}
				&.main_contain {
					button{
						&.account_detials_btn{
							&.edit_info {
							    display: none;
							}
						}
					}
					.save_contain {
						button{
							&.account_detials_btn{
								&.edit_info {
								    display: block;
								}
							}
						}
					}
				}
				h5 {
				    font-size: 14px;
				    font-weight: 600;
				    text-transform: capitalize;
				}
				ion-item {
				    background: transparent;
				    min-height: inherit;
				    pointer-events: none;
				    &.active {
					    pointer-events: unset;
					    &:nth-child(4) {
						    display: none;
						}
					}
				    .item-inner{
				    	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
				    }
				    input{
				    	&.text-input {
						    margin: 7px 4px;
						    color: $white;
						    font-size: 13px;
						}
				    }
				}
				ion-label {
				    color: $white;
				    font-size: 13px;
    				font-weight: 600;
				}
				.hide_feild {
				    display: none;
				    &.show_hide_feild {
					    display: block;
					}
				}
				.psw_field {
				    display: none;
				}
			}
		}
		ul {
		    margin: 0;
		    padding: 0 20px;
		    list-style-type: none;
		    text-transform: capitalize;
		    color: $white;
		    font-size: 14px;
		    font-weight: 600;
		    li {
			    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			    padding: 7px 0;
			    font-family: proxima_nova_rgregular;
			    span {
				    font-weight: 400;
				    text-transform: none;
				}
				&:first-child {
				    border-bottom: none;
				    margin-bottom: 5px;
				    font-family: $font1;
				}
			}
		}
			.image-upload {
				span {
				    text-align: center;
				    display: flex;
				    margin: 0 auto;
				    justify-content: center;
				    font-size: 16px;
				}
	  		label{
				img{
					width: 100px;
				    height: 100px;
				    margin: 15px auto;
				    border-radius: 100px;
				    text-align: center;
				    display: flex;
				}
			}
    		> input
				{
				    display: none;
				}
			}
		}
		.segment-button {
		    border: none;
		    font-size: 12px;
    		text-transform: uppercase;
    		color: $black;
    		border-bottom: 1px solid $grey;
    		border-radius: unset !important;
    		&:hover{
    			background: transparent !important;
    		}
    		
    		&.segment-activated {
			    background-color: transparent;
			    color: $black;
			    font-weight: 600;
			    border-color:  $black;
			    border-radius: unset;
			    font-family: $font1;
			}
		}
		ion-item{
			&.item{
				&.item-block{
					&.item-ios {
					    border: none;
					}
				}
			}
		}
	}
}
	

