<!--
  Generated template for the AccountDetialsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <img src="assets/imgs/matc_logo.png">
  <button class="button"><ion-icon name="ios-settings"></ion-icon></button>
</ion-header>


<ion-content>
<div class="main_account_detials">

	<div class="tabs">
	  <ion-segment [(ngModel)]="account_detials">
	    <ion-segment-button value="Step1">
	      <span>Account Details</span>
	    </ion-segment-button>
	    <ion-segment-button value="Step2">
	      <span>Verified Info</span>
	    </ion-segment-button>
	  </ion-segment>
	</div>

	<div [ngSwitch]="account_detials" class="tabs_content">
	  <ion-list *ngSwitchCase="'Step1'">
	    
	       <div class="image-upload">
			    <label for="file-input">
			        <img src="assets/imgs/placeholder_img.jpg"/>
			        <span>Upload profile photo</span>
			    </label>
			    <input id="file-input" type="file"/>
			</div>
			<div class="acunt_detials">
			<h4>Welcome, Ahmad Petrovsky Omar</h4>
			<!-- <ul>
			<li>My personal deitals</li>
			<li>Name: <span>Welcome, Ahmad Petrovsky Omar</span></li>	
			<li>Email: <span>petrov@petrovsky.com</span></li>
			<li>Mobile Number: <span>+6017 205 3829</span></li>
			<li>Password: <span>**********</span></li>
			<li>Confirm Password: <span>**********</span></li>
			</ul> -->
		<div class="acunt_detials_form"  [ngClass]="status ? 'success' : 'danger'">	
			<h5>My personal deitals</h5>
		<div [ngClass]="status1 ? 'password_field_show' : 'password_field_hide'">
			<ion-list>

			  <ion-item>
			    <ion-label >Name:</ion-label>
			    <ion-input  type="text"  value="Welcome, Ahmad Petrovsky Omar"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label>Email:</ion-label>
			    <ion-input type="text" value="petrov@petrovsky.com"></ion-input>
			  </ion-item>

			   <ion-item>
			    <ion-label>Number:</ion-label>
			    <ion-input type="tel" value="+6017 205 3829"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label>Password:</ion-label>
			    <ion-input type="password" value="**********"></ion-input>
			  </ion-item>
				<div class="password_field">
					<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
					  <ion-item>
					    <ion-label>Current Password:</ion-label>
					    <ion-input type="password" formControlName="cpassword"></ion-input>
					  </ion-item>

					<div no-lines *ngIf="( user.get('cpassword').hasError('required') || user.get('cpassword').hasError('minlength') || 	user.get('cpassword').hasError('maxlength'))&& user.get('cpassword').touched">
						<div class="error" *ngIf="user.get('cpassword').hasError('required') && user.get('cpassword').touched">
							Current Password is required
						</div>
						<div class="error" *ngIf="user.get('cpassword').hasError('minlength') && user.get('cpassword').touched">
							Please enter valid Current Password
						</div>

						<div class="error" *ngIf="user.get('cpassword').hasError('maxlength') && user.get('cpassword').touched">
							Please enter valid Current Password
						</div>
					</div>

					  <ion-item>
					    <ion-label>Add New Password:</ion-label>
					    <ion-input type="password" formControlName="addpassword"></ion-input>
					  </ion-item>
					  <div no-lines *ngIf="( user.get('addpassword').hasError('required') ) && user.get('addpassword').touched">

						<div class="error" *ngIf="user.get('addpassword').hasError('required') && user.get('addpassword').touched">
							Add New Password
						</div>

						</div>

					  <ion-item>
					    <ion-label>Reconfirm Password:</ion-label>
					    <ion-input type="password" formControlName="re_password"></ion-input>
					  </ion-item>
						<div no-lines *ngIf="( user.get('re_password').hasError('equalTo') || user.get('re_password').hasError('required') ) && user.get('re_password').touched">

							<div class="error" *ngIf="user.get('re_password').hasError('required') && user.get('re_password').touched">
								Confirm password is required
							</div>
							<div class="error" *ngIf="user.get('re_password').hasError('equalTo') && user.get('re_password').touched">
								Password Mismatch
							</div>
						</div>
					</form>
				</div>
			</ion-list>

			<button class="account_detials_btn edit_info"  ion-button  (click)="clickEvent()" >  <ion-icon name="md-create"></ion-icon> Edit Info</button>
			<button class="account_detials_btn save_info" [disabled]="user.invalid" ion-button (click)="clickPassword()">Save Info</button>
		</div>
		</div>	

			
	</div>
	    
	  </ion-list>

	  <ion-list *ngSwitchCase="'Step2'">
	       <div class="image-upload">
			    <label for="file-input">
			        <img src="assets/imgs/placeholder_img.jpg"/>
			        <span>Upload profile photo</span>
			    </label>
			    <input id="file-input" type="file"/>
			</div>
			<div class="acunt_detials">
			<h4>Welcome, Ahmad Petrovsky Omar</h4>
			<ul>
			<li>My verified deitals</li>
			<li>Name: <span>Ahmad Petrovsky Omar</span></li>	
			<li>IC Number: <span>810925145396</span></li>
			<li>Upload IC:<span>VIEW IMAGE</span></li>
			<li>Last Credit Report Download: <span>26/4/18</span></li>
			</ul>	

			<button class="account_detials_btn  view_report_btn" (click)="myReport()" ion-button>View My report</button>

			</div>
	  </ion-list>
	</div>
</div>

</ion-content>
